   <section id="content">
      <section class="vbox">
        <header class="header bg-white b-b">
          <p class="text-ca">Welcome to <%= current_user.username %>'s Profile</p>
        </header>
        <section class="scrollable">
          <section class="hbox stretch">
            <aside class="aside-lg bg-light lter b-r">
              <section class="vbox">
                <section class="scrollable">
                  <div class="wrapper">
                    <div class="clearfix m-b">
                      <%= link_to user_path(current_user.username), :class => "pull-left thumb m-r" do %>
                        <%= image_tag ('avatar.png'), :class => "img-circle bg-white" %>
                      <% end %> 
                      <div class="clear">
                        <div class="h4 m-t-xs m-b-xs"><%= current_user.name %></div>

                      </div>                
                    </div>
                    <div>
                      <small class="text-uc text-xs text-muted">username</small>
                      <p><%= current_user.username %></p>
                      <% if !current_user.location.blank? %>
                        <small class="text-uc text-xs text-muted" style="text-transform:uppercase;">
                          <i class="icon-map-marker"></i> 
                          location
                        </small>
                        <p class="text-ca"><%= current_user.location %></p>
                      <% end %>
                      <div class="line"></div>
                    </div>
                  </div>
                </section>
              </section>
            </aside>
            <aside class="bg-white">
              
            </aside>
            <aside class="col-lg-4 b-l">
                           
            </aside>
          </section>
        </section>
      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen" data-target="#nav"></a>
    </section>